<div layout="row" layout-align="start center" ng-click="ctrl.setSelectedIndex($index)" flex ng-class="question.selectedComponent ? 'md-whiteframe-4dp' : ''">
    <div style="width:3px;height:100%;background-color: #106cc8" ng-show="question.selectedComponent"></div>

    <div flex class="md-padding">
        <div layout="row" layout-align="space-between center">

            <!-- Question Title -->
            <md-input-container flex="70" style="margin-bottom: 0">
                <label>Question Title</label>
                <input ng-model="question.prompt">
            </md-input-container>

            <!-- Required Switch -->
            <md-switch ng-model="question.required" aria-label="Switch 1">
                : Required
            </md-switch>
        </div>

        <div layout="row" layout-align="space-between center">
            <!-- Question Type -->
            <md-input-container flex="50">
                <label>Type</label>
                <md-select ng-model="question.type" ng-model-options="{trackBy: '$value'}">
                    <md-option ng-repeat="type in ctrl.types" ng-value="type">
                        {{type}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>

        <md-divider class="md-padding"></md-divider>

        <!-- Components -->
        <div ng-if="question.type == 'SHORT_RESPONSE'" layout="row" ng-include="'modules/forms/view/components/text-input.html'"></div>
        <div ng-if="question.type == 'LONG_RESPONSE'" layout="row" ng-include="'modules/forms/view/components/text-input.html'"></div>
        <div ng-if="question.type == 'RADIO'" ng-include="'modules/forms/view/components/radio-buttons.html'"></div>
        <div ng-if="question.type == 'DROPDOWN'" ng-include="'modules/forms/view/components/dropdown.html'"></div>
        <div ng-if="question.type == 'CHECKBOX'" ng-include="'modules/forms/view/components/checkbox.html'"></div>

        <!-- Form Control Buttons -->
        <div ng-show="question.selectedComponent" ng-include="'modules/forms/view/form-control-buttons.html'"></div>
    </div>
</div>
<div ng-show="question.selectedComponent" style="height:2px"></div>