<md-content flex ng-init="ctrl.getViewableForms(ctrl)">




    <md-card>

        <md-card-content>
            <md-card-title style="padding-top: 8px">
                <!-- Title Bar -->
                <span class=md-headline>Form Editor</span>
            </md-card-title>

            <md-divider></md-divider>

            <div class="md-padding">
                <span class="md-title"> Available Forms </span>
            </div>

            <div ng-repeat="form in ctrl.allForms">
                <md-card style="margin: 0" class="form-card">
                    <!-- DESCRIPTION and ACTION BUTTONS -->
                    <div style="min-height: 54px; padding-right: 16px; padding-left: 16px" layout="row" layout-align="space-between center">
                        <span class="md-subhead">{{form.description}}</span>

                        <!-- Action Buttons -->
                        <div>
                            <md-button class="md-icon-button md-primary" ng-click="ctrl.toEditForm(form.id)">
                                <md-icon md-svg-icon="../images/svg/edit_24px.svg" ></md-icon>
                            </md-button>

                            <md-button class="md-icon-button md-primary" ng-click="ctrl.deleteForm(form.id)">
                                <md-icon md-svg-icon="../images/svg/delete_24px.svg" ></md-icon>
                            </md-button>
                        </div>
                    </div>
                </md-card>
            </div>

            <div class="layout-padding"></div>
            <md-divider class="layout-padding"></md-divider>

            <!--Action Buttons-->
            <div layout="row" layout-align="end center">
                <div layout="row" layout-align="end center">
                    <!-- Create Button -->
                    <md-button class="md-raised md-primary" style="padding-right: 8px" ng-click="ctrl.goToCreate()" ng-disabled="false">
                        Create New Template
                    </md-button>
                </div>
            </div>

        </md-card-content>
    </md-card>

</md-content>