<div>
    <md-divider/>
    <!-- Icon Buttons -->

    <div layout="row" layout-align="space-between center">
        <div>
            <md-button ng-if="question.type === 'RADIO' || question.type === 'CHECKBOX' || question.type === 'DROPDOWN'"
                       class="md-primary"
                       ng-click="ctrl.addOption(question)">
                Add Option
            </md-button>
        </div>

        <div layout-padding layout="row" layout-align="end center">

            <!-- Add Button -->
            <md-button class="md-icon-button md-primary" ng-click="ctrl.addQuestionBelow($index)">
                <md-icon md-svg-icon="../images/svg/add_24px.svg" ></md-icon>
            </md-button>

            <!-- Remove Button -->
            <md-button class="md-icon-button md-primary" ng-click="ctrl.deleteQuestion($index)" ng-disabled="ctrl.disableDelete()">
                <md-icon md-svg-icon="../images/svg/delete_24px.svg" ></md-icon>
            </md-button>

            <!-- Shift Button -->
            <md-button class="md-icon-button md-primary" ng-click="ctrl.shiftDown($index)" ng-disabled="ctrl.disableShiftDown($index)">
                <md-icon md-svg-icon="../images/svg/down_arrow_24px.svg" ></md-icon>
            </md-button>

            <!-- Shift Down Button -->
            <md-button class="md-icon-button md-primary" ng-click="ctrl.shiftUp($index)" ng-disabled="ctrl.disableShiftUp($index)">
                <md-icon md-svg-icon="../images/svg/up_arrow_24px.svg" ></md-icon>
            </md-button>
        </div>
    </div>
</div>