<div layout="row" flex style="height: 100%" class="md-padding">

    <md-grid-list flex
                  md-cols="4"
                  md-row-height="2:1"
                  md-gutter="12px">

        <md-grid-tile md-rowspan="3" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1">
            <md-card style="min-height: 100%; min-width: 100%;">

                <!-- Title Bar -->
                <md-toolbar clas="md-primary md-hue-1" style="height: 36px" layout="row" layout-align="center center">
                    <span class="md-title">Quotes</span>
                </md-toolbar>

                <div style="">


                </div>

                <div>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button class="md-primary" ng-click="ctrl.getAQuote()">Get a Quote</md-button>
                        <md-button>Review Quotes</md-button>
                    </md-card-actions>
                </div>
            </md-card>
        </md-grid-tile>

        <md-grid-tile md-rowspan="3" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1">
            <md-card style="min-height: 100%; min-width: 100%;">

                <!-- Title Bar -->
                <md-toolbar clas="md-primary md-hue-1" layout="row" layout-align="center center">
                    <span class="md-title">Templates</span>
                </md-toolbar>
                <div >


                    <div style="height: 100%">
                        hello
                    </div>


                    <md-card-actions layout="row" layout-align="end center">
                        <md-button class="md-primry">Action 1</md-button>
                        <md-button>Action 2</md-button>
                    </md-card-actions>
                </div>
            </md-card>
        </md-grid-tile>
        <md-grid-tile md-rowspan="3" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1">
            <md-card style="min-height: 100%; min-width: 100%;">

                <!-- Title Bar -->
                <md-toolbar clas="md-primary md-hue-1" layout="row" layout-align="center center">
                    <span class="md-title">Templates</span>
                </md-toolbar>
                <div >


                    <div style="height: 100%">
                        hello
                    </div>


                    <md-card-actions layout="row" layout-align="end center">
                        <md-button class="md-primry">Action 1</md-button>
                        <md-button>Action 2</md-button>
                    </md-card-actions>
                </div>
            </md-card>
        </md-grid-tile>
        <md-grid-tile md-rowspan="3" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1">
            <md-card style="min-height: 100%; min-width: 100%;">

                <!-- Title Bar -->
                <md-toolbar clas="md-primary md-hue-1" layout="row" layout-align="center center">
                    <span class="md-title">Your Quotes</span>
                </md-toolbar>
                <div >


                    <div style="height: 100%">
                        hello
                    </div>


                    <md-card-actions layout="row" layout-align="end center">
                        <md-button class="md-primry">Action 1</md-button>
                        <md-button>Action 2</md-button>
                    </md-card-actions>
                </div>
            </md-card>
        </md-grid-tile>
    </md-grid-list>

</div>
