<div ng-if="ctrl.mode === 'EDIT'">
    <div ng-repeat="option in question.value">
        <div layout="row" layout-align="space-between center" flex>
            <div flex="40" layout="row" layout-align="start center">
                <div class="radio-off"></div>
                <md-input-container flex style="margin-bottom: 0">
                    <label>Prompt</label>
                    <input ng-model="option.prompt"/>
                </md-input-container>
            </div>
            <md-input-container flex="20" style="margin-bottom: 0">
                <label>Cost/Hour</label>
                <input ng-model="option.value" type="number"/>
            </md-input-container>
            <md-input-container flex="20" style="margin-bottom: 0">
                <label>Estimated Hours</label>
                <input ng-model="option.valueWeight" type="number"/>
            </md-input-container>
            <div>
                <md-button class="md-icon-button md-primary" ng-click="ctrl.removeOption(question, $index)" ng-disabled="question.value.length < 2">
                    <md-icon md-svg-icon="../images/svg/delete_24px.svg"></md-icon>
                </md-button>
            </div>
        </div>
    </div>
</div>

<!-- SUBMISSION MODE -->

<div ng-if="ctrl.mode === 'SUBMISSION'">
    <div>
        <span class="md-subhead">{{ question.prompt }}:</span>
    </div>
    <div class="layout-padding"></div>
    <md-radio-group ng-model="question.response">
        <md-radio-button ng-repeat="option in question.value">
            {{option.prompt}}
        </md-radio-button>
    </md-radio-group>
</div>
